:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-base: 1em;
  --line-height: 1.5;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --color-light: #ffffff;
  --color-dark: #343a40;
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --background-light: #f0f0f0;
  --background-dark: #343a40;
  --header-background: #535bf2;
  --background-light-theme: #c8e0ff; /* Бледно-голубой цвет */
  --card-shadow-light: 0 8px 16px rgba(0, 0, 0, 0.2); /* Более заметная тень для светлой темы */
  --card-shadow-dark: 0 8px 16px rgba(255, 255, 255, 0.1); /* Светлая тень для тёмной темы */
}

a {
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-hover);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 360px;
  min-height: 100vh;
  font-family: var(--font-family);
  padding: 0 20px;
  transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3 {
  color: var(--color-primary); /* Задаем цвет заголовков как на домашней странице */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header .controls button {
  margin-left: 10px; /* Добавляем отступы между кнопками в хедере */
}

header .weekNumber-container {
  display: flex;
  align-items: center; /* Центрируем контент по вертикали */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body.light {
  background-color: var(--background-light-theme);
  color: #333;
}

body.dark {
  background-color: var(--background-dark);
  color: #ccc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Центрируем элементы по вертикали */
  height: 60px;
  padding: 10px 20px;
  background-color: var(--header-background);
  width: 100%;
  min-width: 360px;
  margin: 0 auto;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header div {
  margin: 0 10px;
}

header button {
  border: 1px solid #e4e4e4;
}

.weekNumber {
  font-size: 18px;
  color: var(--color-light);
}

body.light-theme {
  background-color: var(--background-light-theme);
  color: #000000;
}

body.dark-theme {
  background-color: var(--background-dark);
  color: #ffffff;
}

body.light-theme .card,
body.light-theme .table-container {
  background-color: #ffffff; /* Белый фон для карточек и таблиц */
  color: #000000;
  box-shadow: var(--card-shadow-light); /* Тень для светлой темы */
  border-radius: 8px; /* Скругленные углы */
}

body.dark-theme .card,
body.dark-theme .table-container {
  background-color: #ffffff; /* Белый фон внутри карточек и таблиц для тёмной темы */
  color: #000000;
  box-shadow: var(--card-shadow-dark); /* Тень для тёмной темы */
  border-radius: 8px; /* Скругленные углы */
}

.chart-container {
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.chart {
  width: 400px;
  min-width: 360px;
  height: 300px; /* Фиксированная высота для графиков */
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.chart-placeholder {
  width: 400px;
  min-width: 360px;
  height: 300px; /* Фиксированная высота для графиков */
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  visibility: hidden; /* Прячем placeholder */
}

.diagramma {
  margin-top: 20px;
  min-width: 360px;
  height: 300px; /* Фиксированная высота для диаграммы */
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

body.light-theme .chart,
body.light-theme .diagramma,
body.light-theme .chart-placeholder {
  box-shadow: var(--card-shadow-light); /* Тень для светлой темы */
  border-radius: 8px; /* Скругленные углы */
}

body.dark-theme .chart,
body.dark-theme .diagramma,
body.dark-theme .chart-placeholder {
  box-shadow: var(--card-shadow-dark); /* Тень для тёмной темы */
  border-radius: 8px; /* Скругленные углы */
}

body {
  padding-top: 120px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .weekNumber {
    font-size: 14px;
  }

  button {
    padding: 0.4em 0.8em;
  }

  header div {
    margin: 0 5px;
  }
}

@media (max-width: 360px) {
  .chart-container {
    display: block;
    height: auto;
  }

  .chart, .diagramma {
    width: 100%; /* Фиксируем ширину графиков для маленького экрана */
    height: 300px; /* Фиксированная высота для графиков и диаграммы */
    margin: 10px auto; /* Центрируем графики */
    padding: 10px; /* Добавляем внутренние отступы для контента */
  }

  .content {
    margin-top: 60px; /* Высота навигации */
  }
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем плавный переход для трансформации и тени */
}

.card:hover, .card:active, .card:focus {
  transform: translateY(-10px); /* Сдвигаем карточку вверх при наведении или активации */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Добавляем более сильную тень при наведении или активации */
}

body.light-theme .card:hover,
body.light-theme .card:active,
body.light-theme .card:focus,
body.light-theme .table-container:hover,
body.light-theme .table-container:active,
body.light-theme .table-container:focus {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Тень при наведении или активации для светлой темы */
}

body.dark-theme .card:hover,
body.dark-theme .card:active,
body.dark-theme .card:focus,
body.dark-theme .table-container:hover,
body.dark-theme .table-container:active,
body.dark-theme .table-container:focus {
  box-shadow: 0 12px 24px rgba(255, 255, 255, 0.2); /* Тень при наведении или активации для тёмной темы */
}

