.navigation {
    position: fixed;
    top: 60px; /* Высота Header */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Центрирование навигации */
    align-items: center; /* Центрирование по вертикали */
    padding: 10px 20px; /* Добавление отступов по краям */
    background-color: #7f88f1;
    border-bottom: 1px solid #7f88f1;
    font-size: 18px;
    z-index: 999; /* Обеспечиваем, чтобы Navigation был выше основного контента */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.breadcrumb {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0; /* Убираем padding */
    height: 100%; /* Занимаем всю высоту родительского блока */
    align-items: center; /* Центрирование по вертикали */
}

.breadcrumb li {
    display: inline;
    padding: 0 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2em; /* Увеличенный размер шрифта */
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    padding: 10px;
    border-radius: 8px;
}

.breadcrumb a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff; /* Цвет активной ссылки для тёмной темы */
    font-weight: 700;
}

.breadcrumb .active {
    color: #ffffff; /* Цвет активной ссылки для тёмной темы */
    font-weight: 700;
}

@media screen and (max-width: 360px) {
    .breadcrumb {
        flex-direction: column;
        align-items: center;
    }

    .breadcrumb li {
        padding: 8px;
    }

    .breadcrumb a {
        font-size: inherit;
    }

    .breadcrumb .active {
        font-size: inherit;
    }
}
